{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col">
		<h1>Welcome to the Alliterator!</h1>
		<p>
			This app is an <strong>alliteration generator</strong>. It takes two words and finds synonyms of those words that start with the <strong>same letter</strong>.
		</p>
  </div>
</div>

<div class="row mb-4">
	<div class="col-md-3 py-2">
		<div class="card p-2 my-2 h-100 shadow rounded d-flex flex-column justify-content-center align-items-center">
			<blockquote class="blockquote mb-0 text-center">Tough Guy?<br /><em>Brawny Brother</em>
			</blockquote>
		</div>
	</div>
	<div class="col-md-3 py-2">
		<div class="card p-2 my-2 h-100 shadow rounded d-flex flex-column justify-content-center align-items-center">
			<blockquote class="blockquote mb-0 text-center">Funny Picture?<br /><em>Entertaining Engraving</em>
			</blockquote>
		</div>
	</div>
	<div class="col-md-3 py-2">
		<div class="card p-2 my-2 h-100 shadow rounded d-flex flex-column justify-content-center align-items-center">
			<blockquote class="blockquote mb-0 text-center">Boring Meeting?<br /><em>Repetitious Rendezvous</em>
			</p>
		</div>
	</div>
	<div class="col-md-3 py-2">
		<div class="card p-2 my-2 h-100 shadow rounded d-flex flex-column justify-content-center align-items-center">
			<blockquote class="blockquote mb-0 text-center">Ice Cream?<br /><em>Permafrost Paste</em>
			</blockquote>
		</div>
	</div>
</div>
		
<div class="row mt-1 py-2">

	<div class="col-md-8 col-lg-6">
		<div class="card p-3 shadow rounded">
		<h5 class="card-title">Try Out the Alliterator!</h5>
		<h6 class="card-subtitle mb-2 text-muted">We know you'll love it</h6>
		<form class="mt-1" method="post" action={% url 'submit' %}>
			{% csrf_token %}
			<div class="mb-3">	
				<label for="word1" class="form-label card-text">First Word</label>
				<input class="form-control" name="word1" placeholder="Enter first word" />
			</div>
			<div class="mb-3">
				<label for="word2" class="form-label card-text">Second Word</label>
				<input type="text" class="form-control" name="word2" placeholder="Enter second word" />
			</div>
			<input type="submit" class="btn btn-danger" value="Alliterate!" />
		</form>
		</div>
	</div>

	<div class="d-block d-md-none col-12 py-3"></div>

	<div class="col-md-4 col-lg-6">
		<div class="card p-3 shadow rounded h-100">
			<h5 class="card-title">About the Alliterator</h5>
			<h6 class="card-subtitle mb-2 text-muted"></h6>
			<p class="card-text">Alliterator was created by Josh Moody. He was bored one weekend and wrote most of the app in one evening.</p>
			<p>See more of his projects <a href="https://github.com/joshmoody24">here.</a></p>
		</div>
	</div>

</div>

<div class="row mt-4">
	<div class="col-md-4">
		<div class="card p-3 my-2 shadow rounded">
			<blockquote class="blockquote mb-0">
				<p class="mb-0">You often get <em>meaningless garbage</em>, but sometimes it is <em>absolutely hilarious</em>.
				</p>
				<footer class="blockquote-footer mt-2"><cite title="Source Title">Josh Moody</cite></footer>
			  </blockquote>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card p-3 my-2 shadow rounded">
			<blockquote class="blockquote mb-0">
				<p class="mb-0">Sometimes the results are <em>trivial trash</em>, but other times they are <em>positively priceless</em>.
				</p>
				<footer class="blockquote-footer mt-2"><cite title="Source Title">Alliterator</cite></footer>
			  </blockquote>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card p-3 my-2 shadow rounded">
			<blockquote class="blockquote mb-0">
				<p class="mb-0">Sometimes the <em>worthless waste</em> is <em>unquestionably uproarious</em>.
				</p>
				<footer class="blockquote-footer mt-2"><cite title="Source Title">Alliterator</cite></footer>
			  </blockquote>
		</div>
	</div>
</div>

{% endblock content %}
