{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="column">
		<h1>Welcome to the Alliterator!</h1>
		<p>
			This app is an <strong>alliteration generator</strong>. It takes two words and finds synonyms of those words that start with the <strong>same letter</strong>.
		</p>

		<hr>

		<p>
			<strong>"Tough Guy"</strong> becomes <strong>"Brawny Brother"</strong>
		</p>
		<p>
			<strong>"Funny Picture"</strong> becomes <strong>"Entertaining Engraving"</strong>
		</p>
		<p>
			<strong>"Boring Meeting"</strong> becomes <strong>"Repetitious Rendezvous"</strong>
		</p>
		<p>
			<strong>"Ice Cream"</strong> becomes <strong>"Permafrost Paste"</strong>
		</p>
		
		<hr>

		<p>
			Sometimes you get <strong>meaningless garbage</strong>, but every once in a while you find something <strong>absolutely hilarious</strong>.
		</p>
		<p>
			In other words, sometimes the results are <strong>trivial trash</strong>, but sometimes they are <strong>positively priceless</strong>.
		</p>
		<p>The <strong>worthless waste</strong> occasionally becomes <strong>unquestionably uproarious</strong>.</p>

		<hr>

		<h2>Try Out the Alliterator!</h2>
		<form method="post" action={% url 'submit' %}>
			{% csrf_token %}
			<div class="mb-3">	
				<label for="word1" class="form-label">First Word</label>
				<input class="form-control" name="word1" placeholder="Enter first word" />
			</div>
			<div class="mb-3">
				<label for="word2" class="form-label">Second Word</label>
				<input type="text" class="form-control" name="word2" placeholder="Enter second word" />
			</div>
			<input type="submit" class="btn btn-primary" value="Submit" />
		</form>

	</div>
</div>
{% endblock content %}
